/* MyOrders Page Styles */

.my-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .my-orders-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1024px) {
  .my-orders-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.my-orders-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.my-orders-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.my-orders-list {
  max-width: 64rem;
  border-top: 1px solid rgb(209, 213, 219);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.my-order-item {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 1px solid rgb(209, 213, 219);
}

@media (min-width: 768px) {
  .my-order-item {
    flex-direction: row;
  }
}

.my-order-product-info {
  flex: 1 1 0%;
  display: flex;
  gap: 1.25rem;
  max-width: 20rem;
}

.my-order-image {
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
  filter: hue-rotate(90deg);
}

.my-order-details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.my-order-name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.my-order-amount {
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}

.my-order-status-info {
  display: flex;
  flex-direction: column;
}

.my-order-status {
  color: #16A34A;
  font-weight: 600;
}